.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc

.venv/
env/
venv/

node_modules/
dist/
build/
*.log

.env
.env.*

*.db
*.db-journal
*.db-wal
*.db-shm
*.bak
*.sql
*.exe
*.mp4

backups/
out/
_old/
prispevki.txt
static/Images/*
!static/Images/.gitkeep
